.bubble1 {
  z-index: 1;
  width: fit-content;
  height: fit-content;
  background-color: #EEEEEE;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30%;
  margin-left: 2%;
  transition: all 0.5s ease;
}

.bubble1:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  transition:0.3s
}


.bubble1 > p {
  margin-bottom: 0;
  padding: 10px;
  font-size: 1vw;
}

.top-bubble1 {
  border-radius: 15px 15px 0 0;
  background-color: #B4B4B4;
}

.top-bubble1 > p {
  margin: 0;
  padding-left: 10px ;
}

.ig {
  width: 25px;
  padding-left: 10px ;
}

.bw_cv {
  color: #9144FF;
  text-decoration: none;
  font-weight: 600;
}

.bw_cv:hover {
  color: #fe8ffd;
}

.bubble2 {
  z-index: 1;
  width: fit-content;
  height: fit-content;
  background-color: #EEEEEE;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 32%;
  margin-right: 2%;
  transition: all 0.5s ease;
}

.bubble2:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  transition:0.3s
}

.bubble2 > p {
  margin-bottom: 0;
  padding: 10px;
  font-size: 1vw;
}

.top-bubble2 {
  border-radius: 15px 15px 0 0;
  background-color: #B4B4B4;
}

.top-bubble2 > p {
  margin: 0;
  padding-left: 10px ;
}

.imessage {
  width: 30px;
  padding-left: 10px ;
}

.message-time {
  color: #B4B4B4;
}

#scroll-text > .hand {
  width: 9vw;
}
