.ema-logo, .grabme-logo, .popcorn-logo {
  width: 15%;
  z-index: 1;
}

.ultra-container {
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.flex-item {
  padding: 100px 10px;
  width: 50%;
}


.ema > h5 {
  font-weight: 700;
}

.landscape-iphone-container {
  position: relative;
  min-width: 35vw;
  margin: 0 auto;
  margin-left: 10%;
}

.carousel {
  position: relative;
  top: 3vh;
  width: 20%;
  right: 47%;
  margin-top:min(2vh);
  z-index: 1;
}

.vertical-iphone{
  display: none;
}

@media (max-width: 576px) {
  .landscape-iphone {
    display: none;
  }
  .vertical-iphone{
    display: block;
    min-width: 50vw;
    z-index: 1;
  }
  .carousel {
    position: relative;
    bottom: 7vh;
    width: 50vw;
    right: 50%;
    margin-top: 2vh;
    z-index: 1;
  }
}
