.ema-logo, .grabme-logo, .popcorn-logo {
  width: 15%;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f3bf37;
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}

.carousel-inner:hover .overlay {
  opacity: 0.7;
}

.text-hover {
  margin-top: 42%;
  font-size: 1vw;
}

.ultra-container {
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.flex-item {
  padding: 100px 10px;
  width: 50%;
}

.landscape-iphone-container {
  position: relative;
  min-width: 35vw;
  margin: 0 auto;
  margin-left: 15%;
}

.carousel {
  position: relative;
  top: 7vh;
  width: 25%;
  right: 50%;
  z-index: 1;
  // margin-top:min(2vh);
}

.carousel-indicators {
  bottom: -12px;
}

.album-pics:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
  filter: brightness(120%);
}

.vertical-iphone{
  display: none;
}

@media (max-width: 576px) {
  .landscape-iphone {
    display: none;
  }
  .vertical-iphone{
    display: block;
    min-width: 354px;
    max-width: 370px;
    z-index: 1;
    width: 90vw;
    margin-top: 30px;
  }
  .album-pics {
    margin-left: 15%;
    width: 73% !important;
  }

  .carousel {
    position: absolute;
    width: 70vw;
    right: 50%;
    margin-top: 13vh;
    z-index: 1;
    right: 16vw;
  }

  .carousel-indicators {
    bottom: -22px;
    margin-right: 9%;
  }

  .navbar-bw {
    left: 38%;
  }
  .landscape-iphone-container {
    margin-left: auto;
  }
  .carousel-inner {
    left: 1vw;
    margin-top: 10vh;
  }
  .carousel-control-next {
    left: 54vw;
  }
  .carousel-control-prev {
    left: 8vw;
  }
  .carousel-control-prev, .carousel-control-next {
    top: 9vh;
  }
  .overlay {
    left: 15%;
    width: 50vw;
  }
  .text-hover {
    font-size: 3vw;
  }
  .copy-right {
    display: none;
  }
}
