.ema-logo, .grabme-logo, .popcorn-logo {
  width: 15%;
  z-index: 1;
}

.ultra-container {
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.flex-item {
  padding: 100px 10px;
  width: 50%;
}

.carousel {
  position: relative;
  bottom: 330px;
  z-index: 1;
  width: 24%;
}

.landscape-iphone {
  gap: 45px;
}

.ema > h5 {
  font-weight: 700;
}
