<div class="background-banner d-flex justify-content-center align-items-center scroll-container">
  <div id="scroll-text" class="d-flex justify-content-center align-items-center bg-text">
    <%= image_tag "hand.png", class:"hand" %>
    <h1 class="text-center">Hello, I am Bryan</h1>
  </div>
</div>
