<div class="container-abt">
  <%= image_tag "ipad-abt.png", class:"ipad-abt" %>
  <%= image_tag "vertical-abt.png", class:"vertical-abt" %>
  <div class="centered">
    <div class="title text-center">
      <h1>About me</h1>
      <h6>Do what I love, love what i do</h6>
    </div>
    <div class="paragraph" id="typed-strings">
      <p>
        <span id="hide">
          Hello! My name is Bryan currently based in Reading, UK. I graduated from Torrens University, Sydney,
          Australia with a BA degree in Hospitality and Event Management. After a few years of working in the hospitality industry,
          I realised my passion is more towards web design and technology and therefore I’ve decided to join the Le Wagon Bootcamp
          to pursue further studies ! Although the coding Bootcamp only lasted for 10 weeks, during this amazing and intensive journey
          I have learned a lot including the fundamentals of HTML, CSS, javascript, bootstrap, SQLite, Figma, ruby on rails, and last
          but not least using Heroku to deploy our projects. Never the less, I have also pursue further studies in jQuery and React with
          Coursera to prepare myself into the industry.
        </span>
        <span id="typed"></span>
      </p>
    </div>
  </div>
  <div class="me-juggle-box">
    <%= image_tag "me-juggle.png", class:"me-juggle" %>
  </div>
</div>
