<div class="container-abt">
  <%= image_tag "ipad-abt.png", class:"ipad-abt" %>
  <%= image_tag "vertical-abt.png", class:"vertical-abt" %>
  <div class="centered">
    <div class="title text-center">
      <h1>About me</h1>
      <h6>Do what I love, love what i do</h6>
    </div>
    <div class="paragraph" id="typed-strings">
      <p>
        <span id="typed"></span>
      </p>
    </div>
  </div>
  <div class="me-juggle">
    <%= image_tag "me-juggle.png", class:"me-juggle" %>
  </div>
</div>
