<div class="container-abt">
  <%= image_tag "ipad-abt.png", class:"ipad-abt" %>
  <%= image_tag "vertical-abt.png", class:"vertical-abt" %>
  <div class="centered">
    <div class="title text-center">
      <h1>About me</h1>
      <h6>Do what I love, love what i do</h6>
    </div>
    <div class="paragraph" id="typed-strings">
      <p>
        <span id="hide">
          Hello! My name is Bryan, currently based in Reading, UK. I am currently looking for an opportunity to further develop my skills and start my career in web development. I am a hard-working person dedicated to work, passionate about challenges and attention to detail. I have a BA degree in Hospitality and Event Management and have worked in the hotel industry for over 5 years. As time passed, I decided to make a career change and recently graduated from the Le Wagon Full-Stack coding Bootcamp.The course not only provides me with a wide range of knowledge but also raises my interest towards Front-end development. Furthermore, I have also completed a couple more courses about jQuery and React with Coursera to better prepare myself to step into the career industry.
        </span>
        <span id="typed"></span>
      </p>
    </div>
  </div>
  <div class="me-juggle-box">
    <%= image_tag "me-juggle.png", class:"me-juggle" %>
  </div>
</div>
