<div class="container">
  <%= image_tag "ipad-abt.png", class:"ipad-abt" %>
  <%= image_tag "vertical-abt.png", class:"vertical-abt" %>
  <div class="centered">
    <div class="title text-center">
      <h1>About me</h1>
      <h6>Do what I love, love what i do</h6>
    </div>
    <div class="paragraph">
      <p>
        Hello! My name is Bryan currently based in Porto, Portugal. I graduated from Torrens University,
        Sydney, Australia with a BA degree in Hospitality and Event Management. After a few years of working
        in the hospitality industry, I realised I needed a career change and therefore I’ve decided to join
        the Le Wagon Bootcamp to pursue further studies to take on a whole new challenge!
      </p>
      <p>
        Although the coding Bootcamp only lasted for 10 weeks, during this amazing and intensive journey I have
        learned a lot including the fundamentals of HTML, CSS, javascript, bootstrap, SQLite, Figma, ruby on rails,
        and last but not least using Heroku to deploy our projects. Moreover, the course has also provided me with a
        clear idea of which career path I wanted to further develop in the future which is Front-end Development !!!
      </p>
    </div>
  </div>
  <div class="me-juggle">
    <%= image_tag "me-juggle.png", class:"me-juggle" %>
  </div>
</div>
