<div class="ultra-container">
  <div class="ipad-container d-flex align-items-center justify-content-center">
    <%= image_tag "abt-page.png", class:"abt-img" %>
    <%= image_tag "straight-ipad.png", class:"straight-ipad" %>
  </div>

  <div class="paragraph-container d-flex flex-column align-items-center justify-content-center">
    <div class="abt-header d-flex flex-column align-items-center justify-content-center flex-column">
      <h1>About Me</h1>
      <h5>Do what I love, love what I do</h5>
    </div>

    <div class="text-container d-flex justify-content-center align-items-center flex-column ">
      <p class="top-text">
        Hello! My name is Bryan currently based in London, UK. I graduated from Torrens
        University, Sydney, Australia with a BA degree in hospitality and event management.
        After a few years of working in the hospitality industry, I realised i needed a change
        in career and therefore I’ve decided to join the Le Wagon Bootcamp to pursue further
        studies to take on a whole new challenge!
      </p>

      <p class="bot-text">
        Although the bootcamp only lasted for 10 weeks,  during this amazing journey I have
        learnt a lot including the fundamentals of html, css, javascript, bootstrap, sqlite,
        figma, ruby on rails and last but not least using heroku to deploy our projects.
        Moreover, the course has also provide me a clear idea in which career path that I
        wanted to further develope in the future - Front-end Development !!!
      </p>

    </div>
  </div>

  <div class="abt-me-img">
    <%= image_tag "fun-me.png", class:"fun-me" %>
  </div>

</div>
