<div class="ultra-container">
  <div class="iphone-container d-flex align-items-center justify-content-center">
    <div class="bubble1">
      <p>
      Click HERE to download my resume!<br>
      3:34pm (GMT)
      </p>
    </div>
    <%= image_tag "root_ig.png", class:"iphone-root" %>
    <div class="bubble2">
      <p>
      I’m passionate about front-end development!<br>
      3:33pm (GMT)
      </p>
    </div>
  </div>
  <div class="background-banner d-flex justify-content-center align-items-center">
    <%= image_tag "hand.png", class:"hand" %>
    <h1 class="text-center">Hello, I am Bryan</h1>
  </div>
</div>
