.navbar-bw {
  justify-content: space-between;
  background: transparent;
}

.nav-item {
  font-family: 'Sora', sans-serif;
  color: black;
  margin-right: 89px;
}

.nav-link:hover {
  color: lightgray;
}

.nav-link a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container-fluid {
  width: auto;
}
