.nav-link {
  font-family: 'Sora', sans-serif;
  color: black;
  margin-right: 89px;
}

.nav-link:hover {
  color: lightgray;
}

.navbar-expand-lg {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container-fluid {
  padding: 0;
}
